In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({"result": [95, 75, 80, 30, 55, 85, 60, 75, 40, 55]})
data

   result
0      95
1      75
2      80
3      30
4      55
5      85
6      60
7      75
8      40
9      55

In [3]:
data.describe()

          result
count  10.000000
mean   65.000000
std    20.548047
min    30.000000
25%    55.000000
50%    67.500000
75%    78.750000
max    95.000000